*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.second{
    height: 100px;
    background-color: rgb(129, 204, 204);
    margin: 5px;
    padding: 10px;
    border: 10px solid salmon;
}

.first{
    background-color: darkcyan;
    width: 400px;
    padding: 30px;
}