.container
{
    width: 50%;
    border-top: 2px dotted green;
    border-right: medium solid red;
    border-bottom: 6px solid blue;
    border-left: 8px outset yellow;
    margin-top: 1cm;
    margin-right: 10px;
    margin-bottom: 4pt;
    margin-left: 10px;
    padding-right: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}