.odd   /* nieparzyste */
{
    background-color: rgb( 21, 255, 21 );
    color: brown;
}

.even  /* parzyste */
{
    background-color: white;
    color: darkblue;
}

/* Tabela */
table
{
    border-collapse: collapse;
    border: 1px solid black;
}

th
{
    color: darkblue;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

td
{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}