table.wazne
{
    padding: 10px;
    border-collapse: collapse;
}

table.wazne > tbody > tr
{
    padding: 0;
}

table.wazne > tbody > tr > th
{
    padding: 15px;
    border: 1px red solid;
}

table.wazne > tbody > tr > td
{
    padding: 15px;
    border: 1px lightcoral solid;
}

table.wazne > tbody > tr:nth-child( even )
{
    color: blue;
}
