*
{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    width: 100%;
    height: 100vh;
}

#header
{
    width: 100%;
    height: 10%;
    background-color: #dddddd;
}

#left
{
    background-color: #ccff33;
    height: 80%;
    width: 50%;
    float: left;
}

#right
{
    background-color: #6699ff;
    height: 80%;
    width: 50%;
    float: left;
}

#footer
{
    background-color: #dddddd;
    height: 10%;
    clear: both;
}